<div class="mainbox col-md-6">
  <div class="panel panel-info">

    <div class="panel-heading">
      <div class="panel-title", id="account" >Create Account</div>
    </div>

    <div class="panel-body new-user" id="create-user">
      <%= form_tag "/spam" do  %>
        <div class="form-group">
          <%= label_tag :file_name, "File Name", class: "control-label col-md-4 required-field" %>
          <%= text_field_tag :file_name, "", class: "input-md textinput textInput form-control" %>
        </div>
        <div class="form-group">
          <%= submit_tag "Send Spam", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Send Spam", send_spam_path, class: "btn btn-primary" %>
<%= link_to "Get Key", sign_up_path, class: "btn btn-primary" %>
