<div class="mainbox col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title", id="account" >Select Your File</div>
    </div>
    <div class="panel-body new-user" id="create-user">
      <h4> Your files must be uploaded in CSV format. </h4>
        <div class="form-group col-md-4">
          <%= form_tag "/spam" do  %>
            <%= select_tag(:file_name, options_for_select(@uploads.map{|upload| [upload.name]})) %>
            <div id="send-spam-link">
              <%= submit_tag "Send Spam", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <%= form_tag uploads_path, enctype: 'multipart/form-data', class: 'float-right' do %>
            <%= file_field_tag :file, class: 'upload-file-button btn btn-primary float-right' %>
            <div id="upload-file-link">
              <%= submit_tag 'Upload file >>', class: 'upload-file-link btn btn-primary float-right' %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
  <%= link_to "Get Key", sign_up_path, class: "btn btn-primary" %>
